SECRET_KEY=your_secret_key_django

DEBUG=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

STRIPE_API_KEY=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_HOST=
EMAIL_PORT=
YA_EMAIL_HOST_USER=
YA_EMAIL_HOST_PASSWORD=